.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!terraform.tfvars.example
.terraform.tfvars
tfplan
*.tfplan
tfplan.bin
.DS_Store
